.btn-login {
    position: absolute;
    bottom: 70px;
    right: 30px;
    border-radius: 30px;
    width: 150px;
    height: 25px;
    padding: 0px;
}

.btn-atendimento{
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 30px;
    width: 230px;
    height: 25px;
    padding: 0px;
}